
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <%= stylesheet_link_tag 'login', 'menu' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <%= render 'shared/menu' %>

  <div class="cotent">
      <div class="logo d-flex justify-content-center">Fotobook Login</div>

      <div class="d-flex justify-content-center">
        <div class="com d-flex flex-wrap justify-content-around align-content-center">
            <div class="com-list">
                <a href="#"><img src="/assets/Google_Logo-a098b05c723bc4c14ad95c99f0c2e863733bd8e4b6fcd743fca3d7b81ead41e2.svg"></a>
            </div>
            <div class="com-list"><a href="#"><img src="/assets/1200px-Facebook_Logo_(2019)-f1c6204a846c7697901f2c817e35754921e1de41868a07b76e515770773e6c8b.webp"></a></div>
            <div class="com-list"><a href="#"><img src="/assets/tw-79e17d2c1a151b755d3c58e7fc8a653d17ce7a3c1af4db6f716aeeb0877dac1a.jpg"></a></div>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <div class="form-login d-flex justify-content-center flex-wrap" style="padding: 20px;">
            <div class="avartar">
              <img src="/assets/l60Hf-08ca31b72b51fcd8e6ecc8198b30d33e3eaefd8a988698a486e42cc9aaf2d838.png" style="width: 99px; height: 99px;">
            </div>
            <div class="form">
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <div class="field">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                  </div>

                  <div class="field">
                      <%= f.label :password %><br />
                    <%= f.password_field :password, autocomplete: "current-password" %>
                  </div>
                  <div class="actions">
                    <% if flash[:notice] %>
                     <p class="notice"><%= notice %></p>
                    <% end %>
                    <% if flash[:alert] %>
                     <p class="alert  alert-danger"><%= alert %></p>
                    <% end %>
                </div>
                  <div class="actions">
                    <%= f.submit "Login" %>
                  </div>
                <% end %>
            </div>
            <div class="forgot-pass">
                <a href="<%= new_password_path(resource_name) %>">Forgot password?</a>
            </div>
        </div>
      </div>

      <div class="d-flex justify-content-center" style="margin-top: 20px;">
          <div class="create-account">
              <a href="<%=  new_registration_path(resource_name) %>">Create an account</a>
          </div>
      </div>
  </div>
 
</body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script> 
  <%= javascript_pack_tag 'login' %>
</html>
